asgiref @ file:///Users/cbousseau/work/recipes/ci_py311/asgiref_1677957028708/work
beautifulsoup4==4.12.3
Django @ file:///Users/cbousseau/work/recipes/ci_py311/django_1677970851911/work
django-cotton==0.0.7
shortuuid==1.0.13
soupsieve==2.6
sqlparse @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_16ptvrhamb/croot/sqlparse_1690901943673/work
