asgiref==3.8.1
beautifulsoup4==4.12.3
Brotli==1.1.0
click==8.1.7
Django==4.2.15
django-cotton==0.9.25
gunicorn==23.0.0
h11==0.14.0
packaging==24.1
soupsieve==2.6
sqlparse==0.5.1
typing_extensions==4.12.2
uvicorn==0.30.6
whitenoise==6.7.0
