<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Todo App</title>

    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script>
    document.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
</script>
    <script src="https://unpkg.com/django-cotton"></script>


</head>
<body>
<div class="main-container">
    {% block content %}

        <h1>tood app</h1>

    {% endblock content %}
</div>

</body>
</html>